@charset "utf-8";

*{
	margin:0px;
	padding:0px;
}
.header{
	width:801px;
	height:532px;
	text-align:left;
	background:url(../images/image.jpg) no-repeat;
}
.header-address{
	line-height:0em;
	text-indent:-1000em;
}
.menu-eria{
	position:absolute;
	top:85px;
	left:30px;
	width:172px;
	height:488px;
	background:url(../images/menu_back.gif) no-repeat;
}
.menu{
	position:absolute;
	top:29px;
	left:10px;
	width:170px;
	height:215px;
	list-style:none;
}
.home-btn a{
	position:absolute;
	top:0px;
	left:0px;
	width:152px;
	height:46px;
	background:url(../images/home_btn.gif) no-repeat;
	text-indent:-1000em;
	text-decoration:none;
}
.news-btn a{
	position:absolute;
	top:46px;
	left:0px;
	width:152px;
	height:43px;
	background:url(../images/news_btn.gif) no-repeat;
	text-indent:-1000em;
	text-decoration:none;
}
.syouhin-btn a{
	position:absolute;
	top:89px;
	left:0px;
	width:152px;
	height:45px;
	background:url(../images/syouhin_btn.gif) no-repeat;
	text-indent:-1000em;
	text-decoration:none;
}
.tenpo-btn a{
	position:absolute;
	top:134px;
	left:0px;
	width:152px;
	height:45px;
	background:url(../images/tenpo_btn.gif) no-repeat;
	text-indent:-1000em;
	text-decoration:none;
}
.qa-btn a{
	position:absolute;
	top:179px;
	left:0px;
	width:152px;
	height:45px;
	background:url(../images/qa_btn.gif) no-repeat;
	text-indent:-1000em;
	text-decoration:none;
}
/**syouhin**/
.syouhin-eria{
	position:absolute;
	top:102px;
	left:230px;
	width:568px;
	height:425px;
	overflow:auto;
}
.syouhin-title{
	position:relative;
	top:10px;
	left:0px;
}
.tenpo-naiyou{
	position:relative;
	top:0px;
	left:0px;
	width:540px;
	height:390px;
}
.new-title{
	position:relative;
	top:30px;
	left:0px;
	width:170px;
	height:33px;
	background:url(../images/new_title.gif) no-repeat;
	text-indent:-1000em;
}
/**new-aria**/
.new-top{
	position:relative;
	top:0px;
	left:0px;
	width:520px;
	height:199px;
}
.text-red{
	font-size:11px;
	color:#c33;
	text-align:right;
}
.new-image01 a{
	position:absolute;
	top:50px;
	left:0px;
}
.new-image02 a{
	position:absolute;
	top:50px;
	left:140px;
}
.new-image03 a{
	position:absolute;
	top:50px;
	left:280px;
}
.new-image04 a{
	position:absolute;
	top:50px;
	left:419px;
}
/**ete-aria**/
.ete-title{
	position:relative;
	top:25px;
	left:0px;
	width:170px;
	height:22px;
	background:url(../images/ete_title.gif) no-repeat;
	text-indent:-1000em;
}
.ete-bottom{
	position:relative;
	top:0px;
	left:0px;
	width:405px;
	height:370px;
}
.ete-image01{
	position:absolute;
	top:50px;
	left:0px;
}
.ete-image02{
	position:absolute;
	top:50px;
	left:95px;
}
.ete-image03{
	position:absolute;
	top:50px;
	left:200px;
}
.ete-image04{
	position:absolute;
	top:50px;
	left:320px;
}
.ete-image05{
	position:absolute;
	top:210px;
	left:0px;
}
.ete-image06{
	position:absolute;
	top:210px;
	left:95px;
}
.ete-image07{
	position:absolute;
	top:210px;
	left:200px;
}
.ete-image08{
	position:absolute;
	top:210px;
	left:320px;
}
